
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>联系我们</title>
    <link type="text/css" rel="stylesheet" href="__STATIC__/index/css/index.css" />
    <script type="text/javascript" src="__STATIC__/index/js/jquery-1.7.2.min.js"></script>


<body>
<div id="container">
    <!--tops-->
    <script type="text/javascript">
        //登录
        function tologin() {
            var url = parent.window.location.href;
            if (url.indexOf("frontWelcome") > 0) {
                url = "/timebank/welcome/front/mybank.action";
            }
            top.window.location = "/timebank/welcome/frontLogin.action?returnUrl=" + url;
        }
        //跳转
        function goAction(action, target){
            if(target == 1){
                window.open(action);
            }else{
                top.window.location.href = action;
            }
        }
        //显示手机二维码

        function showQRCode(){
            $("#code").show();
        }
        //隐藏手机二维码

        function hideQRCode(){
            $("#code").hide();
        }
    </script>
    {include file="public/header"}


    <!--主要内容区    s--->
    <div id="main" style="height: 800px;">
        <div class="fenl">
            <div class="qbfl_bt">党代表公益基金</div>
           <ul class="gyjj_ej">
                <li><a href="{:url('volunteer/index')}">基金介绍</a></li>
                <li><a href="{:url('volunteer/moneyopen')}">财务公开</a></li>
                <li><a href="{:url('volunteer/notice')}">公示与报告</a></li>
                <li><a href="{:url('volunteer/contact')}">联系我们</a></li>
            </ul>

        </div>

        <!--csxm_left    s--->
        <div class="gyjj_list">

            <div class="location">
                <p>当前位置：首页&nbsp;>>&nbsp;公益基金&nbsp;>>&nbsp;党代表公益基金&nbsp;>>&nbsp;联系我们&nbsp;</p>
            </div>

            <div class="cs_content">
                <p class="content_title">联系我们</p>
                <div class="con_xx">
                    <p>发布时间：2016-03-21</p>
                </div>
                <p class="p1" style="padding-bottom: 19px;"></p><p align="center" class="MsoNormal">
                <br>
            </p>
                <!--EndFragment-->
                <p align="center">
                    &nbsp;<img alt="" src="images/20160414094318_769.png">
                </p><br><br><p></p>
            </div>
        </div>
        <!--csxm_left    e--->


    </div>
    <!--主要内容区    e--->
    {include file="public/footer"}
    <script>
        if(screen.width>1100){

            //document.getElementById("foot").style.width=screen.width-21;
        }
    </script>
    <!--版权信息    e--->		<!--版权信息    e--->
</div>
<script type="text/javascript">
    jQuery("#sub_menu").hide();
</script>
</body>
</html>