<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="10">ID</th>
					<th width="30">类别</th>
					<th width="30">具体要求</th>
					<th width="30">服务时间</th>
					<th width="30">有效期</th>
					<th width="30">时间币</th>
					<th width="30">服务地址</th>
					<th width="30">服务人</th>
					<th width="30">联系电话</th>
					<th width="30">备注</th>
					<th width="30">发布时间</th>
					<th width="30">发布人</th>
					<th width="30">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="$local" id="vo"}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td>{$vo.category}</td>
					<td>{$vo.require|mb_substr=0,20,'utf-8'}</td>
					<td>{$vo.service_time}</td>
					<td>{$vo.effective_time|date="Y-m-d H:i:s",###}</td>
					<td>{$vo.money}</td>	
					<td>{$vo.address}</td>
					<td>{$vo.ervice_man}</td>
					<td>{$vo.tel}</td>
					<td>{$vo.remark}</td>
					<td>{$vo.release_time|date="Y-m-d H:i:s",###}</td>
					<td>{$vo.user_id}</td>
					<td class="td-manage">
						<a href="url('release/change', ['id'=>$vo.id,status=>1])}')">通过</a>
						<a href="url('release/change', ['id'=>$vo.id,status=>2])}')">拒绝</a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
<!--包含尾部文件-->
{include file="public/footer" /}
	</body>
</html>
