<!--版权信息s-->
<div class="clear"></div>
<!--版权信息    s--->
<div id="foot">
    <p style="padding-top: 12px;">
        <a href="about15.html" target="_blank">关于南沙时间银行</a>|
        <a href="service.html" target="_blank">客户服务</a>|
        <a href="help.html" target="_blank">帮助中心</a>|
        <a href="cooperation.html" target="_blank">爱心合作</a>|
        <a href="leav_msg.html" target="_blank">给我留言</a>|
        <a href="statement.html" target="_blank">法律声明</a>
        <br/><span>版权所有广州市南沙国际技术合作服务中心 粤ICP备14067686号-2 <a href="{:url('admin/index/index')}">后台管理</a></span><br>
        请在ie8以上浏览器浏览
</div>
